# VS code
*/.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# datasets
**/data

# archives
*.zip

# Trained models
*.pth